.card-rounded {
  display: grid;
  grid-template-columns: 200px 1.5fr 0.6fr 20px 1fr 1fr;
  grid-template-rows: 90px 80px 90px 100px 80px 100px 150px 100px 100px 100px;
  gap: 28px;
}



@media (max-width: 1900px) {
  .card-rounded {
    grid-template-columns: 200px 1.5fr 0.6fr 20px;
  }

  .card-rounded .vista-previa {
    grid-column: 1 / -1;
    grid-row: auto;
    padding-left: 0;
    padding-top: 20px;
    border-top: 2px solid #e0e0e0;
  }
}
